<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">


    <title>Nodejs</title>
</head>


<body class="container">
    <%- include ('partials/header.ejs') %>
    <%- include ('partials/nav.ejs') %>
    <header>
        <img src="/logo.jpg" alt="">
        <center>
            <h3>Practica 01</h3>
        </center>
        <section>
            <center>
                <hr>

                <table class="table">
                    <tr>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Materias</th>
                    </tr>
                    <%
                     for(i=0;i<listado.lenght;++i){ %>
                        <tr>
                            <td><%=listado[i].matricula%></td>
                            <td><%=listado[i].nombre%></td>
                            <td><%=listado[i].sexo%></td>
                            <td><%=listado[i].materias%></td>
                        </tr>

                <% 
                    }
                   %>
                </table>
            </center>


        </section>
    </header>
    <%- include ('partials/footer.ejs') %>
</body>
<html>