<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href = "/bootstrap/css/bootstrap.min.css">
    <title>NodeJs</title>
</head>
<body class = "container">
    <center>
    <%- include('partials/header.ejs')%>
    <%- include('partials/nav.ejs')%>
        <img src ="/img/logoupsin.png" alt="">    
   
        <h3><%=titulo%></h3>
    </center>
    <section>
        <center>
            <hr>
            <table class = "table">
                <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Materias</th>
            </tr>
            <%
            for(i=0; i<listado.length; ++i) { %>
                <tr>
                    <td><%=listado[i].matricula%></td>
                    <td><%=listado[i].nombre%></td>
                    <td><%=listado[i].sexo%></td>
                    <td><%=listado[i].materias%></td>
                </tr>
            <%
                }
                %>
            </table>
        </center>
    </section>
</body>
<%- include('partials/footer.ejs')%>
</html>