<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    <title>Nodejs</title>
</head>
<body class="container">


<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs')%>

<div class="container">
    <center>
        <h3>
            Practica de multiplicar del <%= typeof numero !== 'undefined' ? numero : '' %>
        </h3>
    </center>

</div>
<% if (typeof numero !== 'undefined' && numero !== '') { %>
    <section class="mt-5">
        <center>
            <table class="table table-bordered w-50">
                </thead>
                <tbody>
                    <% for (let i = 1; i <= 10; i++) { %>
                        <tr>
                            <td><%= numero %> x <%= i %></td>
                            <td><%= numero * i %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </center>
    </section>
<% } %>

<section class="container mt-5">
    <center>
    <div class="container mt-5">
        <form action="/p01" method="post" class="mb-3">
            <div class="form-group">
                <label class="form-control mb-3" for="numero">Teclea el Numero</label>
                <input type="text" name="numero" id="numero" style="border-color: black;" class="form-control mb-3" required>
            </div>
            <button class="btn btn-primary" type="submit">Enviar</button>
            <a href="/practica01" class="btn btn-secondary">Limpiar</a>
        </form>
    </div>
    </center>
</section>

<%- include('partials/footer.ejs')%>
</body>
</html>